/*
TODO: CSS stylesheet for mobile
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Poiret One', cursive;
}

.bg-1{
    background-color: #aa1e27;
    color: #ffffff;
}

.container-fluid {
    padding-top: 2%;
    padding-bottom: 2%;
}

img {
    height: 100px;
    width: 100px;
}